@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To King William Hotel</h1>
</div>
<div id="hotel" style="text-align:center">
    <img src="~/img/hotel.jpg" class="img-fluid" alt="Hotel Image" style="height:30rem">
</div>
