<div class="row">
    <div class="col-lg-12">
        <br />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Reservations</h5>
                <p class="card-text">View a list of ALL employees. You will have a chance to edit information here.</p>
                <a href="~/Concierge/Reservations" class="btn btn-primary">View Reservations</a>
            </div>
        </div>
        <br />
    </div>
    <br />
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View House Keeping Request</h5>
                <p class="card-text">View a list of ALL orders. You will have a chance to place new orders here.</p>
                <a href="~/Concierge/HouseKeeping" class="btn btn-primary">View Requests</a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Maintenance Request</h5>
                <p class="card-text">View a list of ALL invoices. You will have a chance to print them here.</p>
                <a href="~/Concierge/Maintenance" class="btn btn-primary">View Requests</a>
            </div>
        </div>
    </div>
</div>
